// testfile
$headerBackground: #000 !default;
$headerMarginTop: 80px !default;


// unused variables
$headerFontSize: 16px !default;
$header-Line-Height: 150% !default;
$header_Is_Fixed: false !default;
